<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/css/clientApp.css" type="text/css" charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost');

$(document).ready(function(){

	$('#submit').click(function(){
		
		//var loginObject = {user: $('#user').val, password: $('password').val};
		
		socket.emit('validate', {user: $('#user').val(), password: $('#password').val()});
		console.log($('#user').val());
	});
});



</script>
 
</head>
  <body>

  </body>
</html>
