<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css" charset="utf-a" />

<script>

$(document).ready(function(){

	$('#submit').click(function(){
		
		//socket.emit('validate', {user: $('#user').val(), password: $('#password').val()});
		//console.log($('#user').val());
		window.location = "/table"
	});
});



</script>

	<div class="login" align="center">
		<h1>Login</h1>
		<input id="user" type="text" name="username" size="15" /><br/>
		<input id="password" type="password" name="passwort" size="15" /><br/>
    		<input id="submit" type="submit" value="Login"/>
	</div>
