<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://72.14.181.251');
</script>
 
</head>
  <body>
	<h1>LayOut</h1>
  </body>
</html>
